openapi: 3.1.0
info:
  title: NuCRM API
  description: |
    The NuCRM REST API provides programmatic access to CRM functionality including contacts,
    companies, deals, tasks, invoices, and more. All API requests must be authenticated
    and scoped to a specific tenant.

    ## Authentication
    All API endpoints require authentication via cookie-based session or Bearer token.
    Include the session cookie (`nucrm_session`) or `Authorization: Bearer <token>` header.

    ## Tenant Context
    Most endpoints operate within a tenant context. The tenant is determined by the
    authenticated user's session or the `X-Tenant-ID` header for super admin operations.

    ## Rate Limiting
    API requests are rate-limited to 100 requests per minute per user.

    ## Pagination
    List endpoints support pagination via `limit` and `offset` query parameters.
    Default: limit=50, offset=0. Maximum limit: 500.
  version: 2.0.0
  contact:
    name: NuCRM API Support
    email: api@nucrm.com
  license:
    name: Proprietary

servers:
  - url: https://api.nucrm.com/api/v2
    description: Production API
  - url: http://localhost:3000/api/v2
    description: Local development

tags:
  - name: Contacts
    description: Manage contacts and relationships
  - name: Companies
    description: Manage companies and organizations
  - name: Deals
    description: Manage deals and sales pipeline
  - name: Tasks
    description: Manage tasks and activities
  - name: Invoices
    description: Manage invoices and payments
  - name: Quotes
    description: Manage quotes and estimates
  - name: Orders
    description: Manage orders and fulfillment
  - name: Contracts
    description: Manage contracts and agreements
  - name: Services
    description: Manage service offerings
  - name: Workflows
    description: Automate business processes
  - name: Sequences
    description: Email and outreach sequences
  - name: Auth
    description: Authentication and session management

components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: nucrm_session
      description: Session cookie issued after login
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API access

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "Invalid request payload"
        code:
          type: string
          example: "VALIDATION_ERROR"
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 150
        limit:
          type: integer
          example: 50
        offset:
          type: integer
          example: 0
        hasMore:
          type: boolean
          example: true

    Contact:
      type: object
      required: [firstName, lastName]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        firstName:
          type: string
          maxLength: 100
          example: "John"
        lastName:
          type: string
          maxLength: 100
          example: "Doe"
        email:
          type: string
          format: email
          nullable: true
          example: "john@example.com"
        phone:
          type: string
          nullable: true
          example: "+1-555-0123"
        jobTitle:
          type: string
          nullable: true
          example: "CEO"
        companyId:
          type: string
          format: uuid
          nullable: true
        ownerId:
          type: string
          format: uuid
          nullable: true
        tags:
          type: array
          items:
            type: string
          example: ["vip", "enterprise"]
        customFields:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Company:
      type: object
      required: [name]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 200
          example: "Acme Corp"
        website:
          type: string
          format: uri
          nullable: true
          example: "https://acme.com"
        industry:
          type: string
          nullable: true
          example: "Technology"
        annualRevenue:
          type: number
          nullable: true
          example: 5000000
        employeeCount:
          type: integer
          nullable: true
          example: 150
        billingAddress:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            state:
              type: string
            zipCode:
              type: string
            country:
              type: string
        ownerId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Deal:
      type: object
      required: [name, stageId]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 200
          example: "Enterprise License Deal"
        value:
          type: number
          example: 50000
        currency:
          type: string
          default: "USD"
          example: "USD"
        stageId:
          type: string
          format: uuid
        contactId:
          type: string
          format: uuid
          nullable: true
        companyId:
          type: string
          format: uuid
          nullable: true
        ownerId:
          type: string
          format: uuid
          nullable: true
        expectedCloseDate:
          type: string
          format: date
          nullable: true
        probability:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Task:
      type: object
      required: [title]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          maxLength: 200
          example: "Follow up with client"
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          default: pending
        priority:
          type: string
          enum: [low, medium, high, urgent]
          default: medium
        dueDate:
          type: string
          format: date-time
          nullable: true
        assignedTo:
          type: string
          format: uuid
          nullable: true
        relatedEntityType:
          type: string
          nullable: true
          example: "contact"
        relatedEntityId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Invoice:
      type: object
      required: [contactId]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        invoiceNumber:
          type: string
          readOnly: true
          example: "INV-2024-001"
        title:
          type: string
          nullable: true
        contactId:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, sent, viewed, partial, paid, overdue, cancelled]
          default: draft
        issueDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
          nullable: true
        items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              quantity:
                type: number
              unitPrice:
                type: number
        subtotal:
          type: number
          readOnly: true
        taxAmount:
          type: number
          readOnly: true
        totalAmount:
          type: number
          readOnly: true
        balanceDue:
          type: number
          readOnly: true
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Lead:
      type: object
      required: [firstName, lastName]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        firstName:
          type: string
          maxLength: 100
          example: "Jane"
        lastName:
          type: string
          maxLength: 100
          example: "Smith"
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
          example: "website"
        status:
          type: string
          enum: [new, contacted, qualified, unqualified, converted, lost]
          default: new
        score:
          type: integer
          minimum: 0
          maximum: 100
          default: 0
        assignedTo:
          type: string
          format: uuid
          nullable: true
        notes:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Pipeline:
      type: object
      required: [name, stages]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Sales Pipeline"
        description:
          type: string
          nullable: true
        isDefault:
          type: boolean
          default: false
        stages:
          type: array
          items:
            type: object
            required: [name]
            properties:
              id:
                type: string
                format: uuid
                readOnly: true
              name:
                type: string
                example: "Qualification"
              order:
                type: integer
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Meeting:
      type: object
      required: [title, startTime]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          example: "Product demo"
        description:
          type: string
          nullable: true
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
          nullable: true
        location:
          type: string
          nullable: true
        meetingUrl:
          type: string
          format: uri
          nullable: true
        status:
          type: string
          enum: [scheduled, completed, cancelled, no_show, rescheduled]
          default: scheduled
        contactId:
          type: string
          format: uuid
          nullable: true
        dealId:
          type: string
          format: uuid
          nullable: true
        userId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Workflow:
      type: object
      required: [name, triggerType, steps]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "New lead welcome"
        description:
          type: string
          nullable: true
        triggerType:
          type: string
          enum: [manual, event, schedule]
        triggerConfig:
          type: object
          additionalProperties: true
        steps:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              config:
                type: object
                additionalProperties: true
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Automation:
      type: object
      required: [name, triggerEvent, actions]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Auto-assign leads"
        description:
          type: string
          nullable: true
        triggerEvent:
          type: string
          example: "contact.created"
        conditions:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              operator:
                type: string
              value:
                type: string
        actions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              config:
                type: object
                additionalProperties: true
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    EmailTemplate:
      type: object
      required: [name, subject, body]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 200
          example: "Welcome Email"
        subject:
          type: string
          maxLength: 200
          example: "Welcome to {{tenant_name}}!"
        bodyHtml:
          type: string
          description: HTML body content
        bodyText:
          type: string
          nullable: true
          description: Plain text fallback
        category:
          type: string
          enum: [general, sales, onboarding, follow-up, nurture, win]
          default: general
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    Webhook:
      type: object
      required: [url, events]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          format: uri
          example: "https://example.com/webhook"
        events:
          type: array
          items:
            type: string
          example: ["contact.created", "deal.updated"]
        secret:
          type: string
          nullable: true
          description: HMAC signing secret
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Member:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        email:
          type: string
          format: email
        fullName:
          type: string
        roleSlug:
          type: string
          example: "admin"
        isActive:
          type: boolean
        joinedAt:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Production API Key"
        prefix:
          type: string
          readOnly: true
          description: First 8 chars of key (for identification)
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Report:
      type: object
      required: [name, entityType, columns]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        entityType:
          type: string
          enum: [contacts, companies, deals, leads, tasks, tickets]
        columns:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              operator:
                type: string
              value:
                type: string
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Sequence:
      type: object
      required: [name, steps]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Onboarding sequence"
        description:
          type: string
          nullable: true
        steps:
          type: array
          items:
            type: object
            properties:
              delayDays:
                type: integer
              templateId:
                type: string
                format: uuid
              subject:
                type: string
              body:
                type: string
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

    Form:
      type: object
      required: [name, fields]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Contact Form"
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
                enum: [text, email, phone, textarea, select, checkbox, radio, date]
              label:
                type: string
              required:
                type: boolean
              options:
                type: array
                items:
                  type: string
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
          readOnly: true

  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 500
      description: Number of items to return
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Number of items to skip
    search:
      name: search
      in: query
      schema:
        type: string
      description: Search term
    sort:
      name: sort
      in: query
      schema:
        type: string
        default: "createdAt:desc"
      description: Sort field and direction (field:asc|desc)

security:
  - SessionCookie: []
  - BearerAuth: []

paths:
  /contacts:
    get:
      tags: [Contacts]
      summary: List contacts
      description: Retrieve a paginated list of contacts with optional filtering
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - name: companyId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by company
        - name: ownerId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by owner
        - name: tags
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by tags
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    post:
      tags: [Contacts]
      summary: Create contact
      description: Create a new contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /contacts/{id}:
    get:
      tags: [Contacts]
      summary: Get contact
      description: Retrieve a single contact by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '404':
          description: Contact not found

    patch:
      tags: [Contacts]
      summary: Update contact
      description: Update an existing contact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'

    delete:
      tags: [Contacts]
      summary: Delete contact
      description: Soft delete a contact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Contact deleted
        '404':
          description: Contact not found

  /companies:
    get:
      tags: [Companies]
      summary: List companies
      description: Retrieve a paginated list of companies
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sort'
        - name: industry
          in: query
          schema:
            type: string
          description: Filter by industry
      responses:
        '200':
          description: List of companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Companies]
      summary: Create company
      description: Create a new company
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'

  /companies/{id}:
    get:
      tags: [Companies]
      summary: Get company
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'

    patch:
      tags: [Companies]
      summary: Update company
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'

    delete:
      tags: [Companies]
      summary: Delete company
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Company deleted

  /deals:
    get:
      tags: [Deals]
      summary: List deals
      description: Retrieve a paginated list of deals
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - name: stageId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by pipeline stage
        - name: ownerId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by owner
        - name: status
          in: query
          schema:
            type: string
            enum: [open, won, lost]
          description: Filter by deal status
      responses:
        '200':
          description: List of deals
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deal'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Deals]
      summary: Create deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      responses:
        '201':
          description: Deal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'

  /deals/{id}:
    get:
      tags: [Deals]
      summary: Get deal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'

    patch:
      tags: [Deals]
      summary: Update deal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      responses:
        '200':
          description: Deal updated

    delete:
      tags: [Deals]
      summary: Delete deal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deal deleted

  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, completed, cancelled]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, urgent]
        - name: assignedTo
          in: query
          schema:
            type: string
            format: uuid
        - name: dueDateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dueDateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Tasks]
      summary: Create task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

  /tasks/{id}:
    get:
      tags: [Tasks]
      summary: Get task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

    patch:
      tags: [Tasks]
      summary: Update task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Task updated

    delete:
      tags: [Tasks]
      summary: Delete task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted

  /invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, viewed, partial, paid, overdue, cancelled]
        - name: contactId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Invoices]
      summary: Create invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /invoices/{id}:
    get:
      tags: [Invoices]
      summary: Get invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

    patch:
      tags: [Invoices]
      summary: Update invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: Invoice updated

    delete:
      tags: [Invoices]
      summary: Delete invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Invoice deleted

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: Authenticate user and create session
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Login successful
          headers:
            Set-Cookie:
              schema:
                type: string
              description: Session cookie
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      description: Invalidate current session
      responses:
        '204':
          description: Session invalidated

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      description: Retrieve authenticated user profile
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  email:
                    type: string
                    format: email
                  fullName:
                    type: string
                  avatarUrl:
                    type: string
                    nullable: true
                  role:
                    type: string
                  tenantId:
                    type: string
                    format: uuid

  # ── Leads ──
  /leads:
    get:
      tags: [Leads]
      summary: List leads
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/search'
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, qualified, unqualified, converted, lost]
        - name: source
          in: query
          schema:
            type: string
        - name: assignedTo
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  hasMore:
                    type: boolean
    post:
      tags: [Leads]
      summary: Create lead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
      responses:
        '201':
          description: Lead created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'

  /leads/{id}:
    get:
      tags: [Leads]
      summary: Get lead
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lead details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
    patch:
      tags: [Leads]
      summary: Update lead
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
      responses:
        '200':
          description: Lead updated
    delete:
      tags: [Leads]
      summary: Delete lead
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Lead deleted

  /leads/{id}/convert:
    post:
      tags: [Leads]
      summary: Convert lead to contact/deal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                createContact:
                  type: boolean
                  default: true
                createDeal:
                  type: boolean
                  default: false
                pipelineId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Lead converted
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactId:
                    type: string
                    format: uuid
                  dealId:
                    type: string
                    format: uuid

  # ── Pipelines ──
  /pipelines:
    get:
      tags: [Pipelines]
      summary: List pipelines
      responses:
        '200':
          description: List of pipelines with stages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pipeline'
    post:
      tags: [Pipelines]
      summary: Create pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
      responses:
        '201':
          description: Pipeline created

  /pipelines/{id}:
    patch:
      tags: [Pipelines]
      summary: Update pipeline
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
      responses:
        '200':
          description: Pipeline updated
    delete:
      tags: [Pipelines]
      summary: Delete pipeline
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Pipeline deleted

  # ── Meetings ──
  /meetings:
    get:
      tags: [Meetings]
      summary: List meetings
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: start
          in: query
          schema:
            type: string
            format: date
          description: Filter from date
        - name: end
          in: query
          schema:
            type: string
            format: date
          description: Filter to date
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, completed, cancelled, no_show, rescheduled]
      responses:
        '200':
          description: List of meetings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Meeting'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  hasMore:
                    type: boolean
    post:
      tags: [Meetings]
      summary: Create meeting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meeting'
      responses:
        '201':
          description: Meeting created

  /meetings/{id}:
    get:
      tags: [Meetings]
      summary: Get meeting
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Meeting details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
    patch:
      tags: [Meetings]
      summary: Update meeting
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Meeting'
      responses:
        '200':
          description: Meeting updated
    delete:
      tags: [Meetings]
      summary: Delete meeting
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Meeting deleted

  # ── Workflows ──
  /workflows:
    get:
      tags: [Workflows]
      summary: List workflows
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: triggerType
          in: query
          schema:
            type: string
            enum: [manual, event, schedule]
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
                  total:
                    type: integer
    post:
      tags: [Workflows]
      summary: Create workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '201':
          description: Workflow created

  /workflows/{id}:
    get:
      tags: [Workflows]
      summary: Get workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workflow details
    patch:
      tags: [Workflows]
      summary: Update workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: Workflow updated
    delete:
      tags: [Workflows]
      summary: Delete workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Workflow deleted

  /workflows/{id}/run:
    post:
      tags: [Workflows]
      summary: Run workflow manually
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                entityId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Workflow executed

  # ── Automations ──
  /automations:
    get:
      tags: [Automations]
      summary: List automations
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of automations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Automation'
                  total:
                    type: integer
    post:
      tags: [Automations]
      summary: Create automation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
      responses:
        '201':
          description: Automation created

  /automations/{id}:
    patch:
      tags: [Automations]
      summary: Update automation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Automation'
      responses:
        '200':
          description: Automation updated
    delete:
      tags: [Automations]
      summary: Delete automation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Automation deleted

  # ── Email Templates ──
  /email-templates:
    get:
      tags: [Email Templates]
      summary: List email templates
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: category
          in: query
          schema:
            type: string
            enum: [general, sales, onboarding, follow-up, nurture, win]
      responses:
        '200':
          description: List of email templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailTemplate'
                  total:
                    type: integer
    post:
      tags: [Email Templates]
      summary: Create email template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplate'
      responses:
        '201':
          description: Template created

  /email-templates/{id}:
    get:
      tags: [Email Templates]
      summary: Get email template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Template details
    patch:
      tags: [Email Templates]
      summary: Update email template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplate'
      responses:
        '200':
          description: Template updated
    delete:
      tags: [Email Templates]
      summary: Delete email template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Template deleted

  # ── Webhooks ──
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
    post:
      tags: [Webhooks]
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Webhook created

  /webhooks/{id}:
    patch:
      tags: [Webhooks]
      summary: Update webhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '200':
          description: Webhook updated
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Webhook deleted

  # ── Members ──
  /members:
    get:
      tags: [Members]
      summary: List team members
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
    post:
      tags: [Members]
      summary: Invite member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, roleSlug]
              properties:
                email:
                  type: string
                  format: email
                roleSlug:
                  type: string
      responses:
        '201':
          description: Invitation sent

  # ── API Keys ──
  /api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      responses:
        '200':
          description: List of API keys (redacted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
    post:
      tags: [API Keys]
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                expiresInDays:
                  type: integer
      responses:
        '201':
          description: API key created (key shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                    description: Full API key (shown only once)
                  name:
                    type: string

  # ── Search ──
  /search:
    get:
      tags: [Search]
      summary: Global search
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: entity_types
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [contacts, companies, deals, leads, tasks, tickets]
          description: Filter by entity types
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        subtitle:
                          type: string

  # ── Calendar Sync ──
  /calendar-sync:
    get:
      tags: [Calendar Sync]
      summary: Get calendar auth URL
      parameters:
        - name: provider
          in: query
          required: true
          schema:
            type: string
            enum: [google, outlook]
      responses:
        '200':
          description: OAuth URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  authUrl:
                    type: string
                    format: uri
                  state:
                    type: string
    post:
      tags: [Calendar Sync]
      summary: Get calendar connection status or disconnect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, action]
              properties:
                provider:
                  type: string
                  enum: [google, outlook]
                action:
                  type: string
                  enum: [status, disconnect]
      responses:
        '200':
          description: Connection status

  /calendar-sync/sync:
    post:
      tags: [Calendar Sync]
      summary: Trigger calendar sync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider]
              properties:
                provider:
                  type: string
                  enum: [google, outlook]
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  result:
                    type: object
                    properties:
                      created:
                        type: integer
                      updated:
                        type: integer
                      deleted:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: string

  # ── Reports ──
  /reports:
    get:
      tags: [Reports]
      summary: List saved reports
      responses:
        '200':
          description: List of reports
    post:
      tags: [Reports]
      summary: Create report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '201':
          description: Report created

  /reports/{id}:
    get:
      tags: [Reports]
      summary: Get report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Report details
    patch:
      tags: [Reports]
      summary: Update report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
      responses:
        '200':
          description: Report updated
    delete:
      tags: [Reports]
      summary: Delete report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Report deleted

  /reports/{id}/run:
    post:
      tags: [Reports]
      summary: Run report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dateRange:
                  type: object
                  properties:
                    from:
                      type: string
                      format: date
                    to:
                      type: string
                      format: date
      responses:
        '200':
          description: Report results

  # ── Analytics ──
  /analytics/overview:
    get:
      tags: [Analytics]
      summary: Get analytics overview
      responses:
        '200':
          description: Dashboard overview stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalContacts:
                    type: integer
                  totalDeals:
                    type: integer
                  totalRevenue:
                    type: number
                  conversionRate:
                    type: number
                  pipelineValue:
                    type: number

  # ── Dashboard ──
  /dashboard/stats:
    get:
      tags: [Dashboard]
      summary: Get dashboard statistics
      responses:
        '200':
          description: Dashboard stats

  # ── Notifications ──
  /notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: unreadOnly
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of notifications
    patch:
      tags: [Notifications]
      summary: Mark notifications as read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                markAll:
                  type: boolean
      responses:
        '200':
          description: Notifications updated

  # ── Import/Export ──
  /contacts/import:
    post:
      tags: [Contacts]
      summary: Import contacts from CSV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [csv]
              properties:
                csv:
                  type: string
                  description: CSV data string
                skipDuplicates:
                  type: boolean
                  default: true
                updateExisting:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  results:
                    type: object
                    properties:
                      imported:
                        type: integer
                      updated:
                        type: integer
                      skipped:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: string

  /contacts/export:
    get:
      tags: [Contacts]
      summary: Export contacts as CSV
      responses:
        '200':
          description: CSV file
          content:
            text/csv:
              schema:
                type: string

  /companies/import:
    post:
      tags: [Companies]
      summary: Import companies from CSV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [csv]
              properties:
                csv:
                  type: string
      responses:
        '200':
          description: Import results

  /companies/export:
    get:
      tags: [Companies]
      summary: Export companies as CSV
      responses:
        '200':
          description: CSV file

  /deals/import:
    post:
      tags: [Deals]
      summary: Import deals from CSV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [csv]
              properties:
                csv:
                  type: string
      responses:
        '200':
          description: Import results

  /deals/export:
    get:
      tags: [Deals]
      summary: Export deals as CSV
      responses:
        '200':
          description: CSV file

  # ── Sequences ──
  /sequences:
    get:
      tags: [Sequences]
      summary: List email sequences
      responses:
        '200':
          description: List of sequences
    post:
      tags: [Sequences]
      summary: Create email sequence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sequence'
      responses:
        '201':
          description: Sequence created

  /sequences/{id}:
    get:
      tags: [Sequences]
      summary: Get sequence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sequence details
    patch:
      tags: [Sequences]
      summary: Update sequence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sequence'
      responses:
        '200':
          description: Sequence updated
    delete:
      tags: [Sequences]
      summary: Delete sequence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Sequence deleted

  # ── Subscriptions & Billing ──
  /billing/subscription:
    get:
      tags: [Billing]
      summary: Get current subscription
      responses:
        '200':
          description: Current subscription details
    post:
      tags: [Billing]
      summary: Upgrade subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId]
              properties:
                planId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Subscription updated

  /billing/subscription/cancel:
    post:
      tags: [Billing]
      summary: Cancel subscription
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                cancelAtPeriodEnd:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Subscription cancelled

  # ── Forms ──
  /forms:
    get:
      tags: [Forms]
      summary: List forms
      responses:
        '200':
          description: List of forms
    post:
      tags: [Forms]
      summary: Create form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '201':
          description: Form created

  /forms/{id}:
    get:
      tags: [Forms]
      summary: Get form
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Form details
    patch:
      tags: [Forms]
      summary: Update form
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '200':
          description: Form updated
    delete:
      tags: [Forms]
      summary: Delete form
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Form deleted

  /forms/public/{id}:
    get:
      tags: [Forms]
      summary: Get public form (no auth required)
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public form data
    post:
      tags: [Forms]
      summary: Submit public form (no auth required)
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Form submitted
